$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
    margin: 0 0;
    background: #ccc;
    color: #000;
    padding: 0 0;
}

/* Space out content a bit */
body {
    padding-top: 0;
    padding-bottom: 0;
}


/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 0px 0;
}

.marketing p + h4 {
    margin-top: 0px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the b
    ottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
.ig-container  {

height: 67vh;
position: relative;
margin: 0 auto;
padding: 0;
width:100vw;


}

.ig {
    width: 140px;
    padding: 40px 10px 10px 30px;
    border-bottom: 5px solid black;
    position: relative;
    margin: 0 auto;
}

html, body, .container {
    margin: 0;
    padding: 0;

}

.container {
    height: 100vh;

}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

#animate-area   { 

    background-image: url(../images/1b.jpg);
    background-position: 0px 0px;
    background-repeat: repeat-x; 
    background-size:80%;

    animation: animatedBackground 40s linear infinite;
}

#landing {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/land.gif);
    background-color: black;
    background-size: cover;
    background-position: center;
}


form {
    width: 50vw;
    text-align: center;
    position: relative;
    left: 25vw;
}
#text {
    width: 100%;
    height: 20vh;
    text-align: center;
}

.btn {
    width: 100%;
    border-radius: 0;
    background-color: transparent;
    color: #0000EE;
    text-decoration:underline;
}

.ig-container {
    margin-left: 0;
}

